{%- assign current_variant = product.selected_or_first_available_variant | default: product.variants.first -%}
  <div class="selling_plan_app_container" data-section-id='{{ section.id }}'>
    {% for variant in product.variants %}
      {%
        liquid
        assign variantPrice = variant.price | money | escape
        assign variantComparedAtPrice = variant.compare_at_price | money_with_currency | escape
      %}
      <fieldset class="bulk-purchase-group" data-id="{{ product.id }}">
        <div class="bulk-purchase-container">
          <div for="custom-purchase-option" class="bulk-purchase-label">
              <div class="subscription-text">  
                <div class="subscription-text--title">  
                    <span class="custom-subscription--input__text">  
                      BUY MORE TO SAVE MORE
                        <span class="custom-subscription--input__subtext">Buy in larger quantities at once and get a discounted price to save on cost per unit.</span>   
                    </span>  
                </div>  
              </div>
              <div class="bulk-purchase-plan">
                  <div class="bulk-purchase-group-label">
                    <label class="one-pack-purchase bulk-purchase-group-item one-pack-title" for="one_pack_purchase">
                      <input
                          type='radio'
                          name="bulkPurchaseOption"
                          {% if variant.available == false %}disabled{% endif %}
                          id='one_pack_purchase'
                          data-variant-id='{{ variant.id }}'
                          data-variant-price='{{ variantPrice }}'
                          data-variant-compare-at-price='{{ variantComparedAtPrice }}'
                          class="group-input"
                          checked
                      />
                      <div class="purchase-pack-box selected">
                        <span class="bulk-purchase-name">1-pack</span>
                        <div class="purchase-plan-price">{{ variantPrice }}</div>  
                      </div>
                    </label>
                  </div>
                  <div class="bulk-purchase-group-label">
                    <label class="one-pack-purchase bulk-purchase-group-item one-pack-title" for="three_pack_purchase">
                      <input
                          type='radio'
                          name="bulkPurchaseOption"
                          {% if variant.available == false %}disabled{% endif %}
                          id='three_pack_purchase'
                          data-variant-id='{{ variant.id }}'
                          data-variant-price='{{ variantPrice }}'
                          data-variant-compare-at-price='{{ variantComparedAtPrice }}'
                          class="group-input"
                        />
                            <div class="purchase-pack-box">
                          <span class="bulk-purchase-name"> {% if product.id == 7469452525633 %} 5-pack {% else %}  3-pack {% endif %} </span>
                              <div class="purchase-price">
                                {% assign three_origin_price = variant.price  | times: 3 %}
                                {% assign three_discounted_price =  three_origin_price | times: 0.85 %}
                                {% assign five_origin_price = variant.price  | times: 5 %}
                                {% assign five_discounted_price =  five_origin_price | times: 0.7 %}
                                <span class="bulk-origin-price">{% if product.id == 7469452525633 %} {{ five_origin_price | money | escape }} {% else %} {{ three_origin_price | money | escape }}{% endif %}</span>
                                <span class="bulk-discounted-price">{% if product.id == 7469452525633 %} {{ five_discounted_price | money | escape }} {% else %} {{ three_discounted_price | money | escape }}{% endif %}</span>
                              </div>  
                            </div>
                          <span class="bulk-purchase-discount">{% if product.id == 7469452525633 %} Save 30% {% else %}  Save 15% {% endif %}</span>
                    </label>
                  </div>
                  <div class="bulk-purchase-group-label">
                    <label class="one-pack-purchase bulk-purchase-group-item one-pack-title" for="six_pack_purchase">
                      <input
                        type='radio'
                        name="bulkPurchaseOption"
                        {% if variant.available == false %}disabled{% endif %}
                        id='six_pack_purchase'
                        data-variant-id='{{ variant.id }}'
                        data-variant-price='{{ variantPrice }}'
                        data-variant-compare-at-price='{{ variantComparedAtPrice }}'
                        class="group-input"
                      />
                      <div class="purchase-pack-box">
                        <span class="bulk-purchase-name">{% if product.id == 7469452525633 %} 10-pack {% else %}  6-pack {% endif %}</span>
                        <div class="purchase-price">
                          {% assign six_origin_price = variant.price | times: 6 %}
                          {% assign six_discounted_price =  six_origin_price | times: 0.75 %}
                          {% assign ten_origin_price = variant.price  | times: 10 %}
                          {% assign ten_discounted_price =  ten_origin_price | times: 0.66 %}
                          <span class="bulk-origin-price">{% if product.id == 7469452525633 %} {{ ten_origin_price | money | escape }} {% else %} {{ six_origin_price | money | escape }}{% endif %}</span>
                          <span class="bulk-discounted-price">{% if product.id == 7469452525633 %} {{ ten_discounted_price | money | escape }} {% else %} {{ six_discounted_price | money | escape }}{% endif %}</span>  
                        </div>  
                      </div>
                        <span class="bulk-purchase-discount">{% if product.id == 7469452525633 %} Save 34% {% else %}  Save 25% {% endif %}</span>
                    </label>
                  </div>
              </div>
              <span class="free-shipping-text">Free U.S Shipping over $75</span>   
            </div>
        </div>
      </fieldset>
    {% endfor %}
  </div>


  