
<section class="page-width container_cources" id="{{section.settings.tabiingid | downcase }}">
    <div>
        <h2 class="crocktitle">{{section.settings.tabiingid}}</h2>
    </div>
    <div class="mar_t_50px_">
        {% for block in section.blocks %}
            {% assign product = all_products[block.settings.product] %}
                {% for image in product.images limit: 1 %}
                    <div class="d_flex_maincrock">
                        <div class="width50_cou crockdummy">
                            <div class="cropet_content">
                              <a href="{{ product.url }}" class="crockdummy_url">
                                <h2 class="crockpettitle">{{ product.title }}</h2>
                              </a>
                                <p>
                                    <span class="price_in_c line_center_ crockprice"> {{ product.price | money }} USD</span>
                                </p>
                                <p class="crockpettitle-des">{{ product.description  | truncate: 250 }}</p>
                                <div class="addd-flex">
                                    <div class="addcart">
                                        <form method="post" action="/cart/add">
                                        <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                                        <input min="1" type="hidden" id="quantity" name="quantity" value="1"/>
                                        <input type="submit" value="Add to cart" class="btn add_cart" />
                                        </form>
                                    </div>
                                    <div class="outlink">
                                        <a class="link" href="{{block.settings.btnlink}}">{{block.settings.outlinkbtn}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="width50_cou crocpet_img" href="{{ product.url }}">
                            <img class="width_img_cource diert" src="{{ image.src | product_img_url: 'master' }}">
                        </a>
                    </div>
                {% endfor %}
        {% endfor -%}
    </div>
</section>

{% schema %}
{
  "name": "crockpet-diet",
  "class":"crockpet-diet",
  "settings": [
      {
  "type": "text",
  "id": "tabiingid",
  "label": "Heading"
    }
  ],
  "blocks": [
{
  "type": "collection",
  "name": "Collection",
  "settings": [
        {
        "type": "product",
        "id": "product",
        "label": "Select Product"
        },
        {
        "type": "url",
        "id": "btnlink",
        "label": "Link"
        },
        {
        "type": "text",
        "id": "outlinkbtn",
        "label": "Button Link"
        }
       
  ]
}
  ],
  "presets": [
  {
  "name": "crockpet-diet"
  }
  ]
}
{% endschema %}
<style>
.addd-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
}
.outlink a.link {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.3em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #1E1E1E;
}

.crockdummy_url {
   text-decoration: unset;
}
.cropet_content {
    padding: 4% 8%;
}   
    .d_flex_maincrock{
      display:flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-bottom: 4%;
    }
    .width50_cou.crocpet_img{
      width:40%;
    }
    .width50_cou.crockdummy{
      width:60%;
    }
    .width_img_cource.diert{
          width: 100%;
          border-radius: 24px;
          position: unset;
    }
    .container_cources{
      max-width: 120rem;
      margin: auto;
    }
  .crockpettitle{
    font-family: 'BLT-Heirloom';
      font-style: normal;
      font-weight: 300;
      font-size: 30px;
      line-height: 40px;
        color: #1E1E1E;
        padding:0;
        margin-bottom:0;
  }
  .price_in_c{
    font-family: 'Josefin Sans';
        text-decoration-line: line-through;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 30px;
      color: #184B44;
  }
  .author_cource{
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #1E1E1E;
  margin-top:0;
  }
  .crocktitle{
      font-family: 'Oakley Script';
      font-style: normal;
      font-weight: 400;
      font-size: 64px;
      line-height: 57px;
      letter-spacing: 0.02em;
      color: #184B44;
      text-align:center;
  }

  .width50_cou.crockdummy {
      background: #F5F8F1;
      border-radius: 24px;
      position: relative;
      left: 5%;
  }
.btnbynow_courc{
  width: 100%;
  border: 2px solid #184B44;
border-radius: 24px;
height: 51px;
background: white;
  font-family: 'Josefin Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 150%;
leading-trim: both;
text-edge: cap;
letter-spacing: 0.3em;
text-transform: uppercase;
color: #1E1E1E;
      text-align: center;
      padding: 15px 0;
  cursor: pointer;
}
          input.btn.add_cart {
    border: 2px solid #184B44;
    border-radius: 25.5px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    background-color: transparent;
    line-height: 150%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #1E1E1E;
    padding: 10px 30px;
}
       .crockpettitle-des{
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: #1E1E1E;
       }
       .cropet_content p span{
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            color: #1E1E1E;
       }
        .line_center_{
              text-decoration-line: blink;
              margin-left: 20px;
        }
        .none_td{
              text-decoration: none;
        }
        .p_text_i{
          font-family: 'Josefin Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      leading-trim: both;
      text-edge: cap;
      text-transform: uppercase;
      color: #000000;
        }
        span.price_in_c.line_center_.crockprice {
    font-family: 'BLT-Heirloom';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;
    color: #184B44;
    margin-left:0;
}
    .mar_t_50px_{
          margin-bottom: 50px;
    }
    #shopify-section-template--14922816258113__20ccae23-ebf6-4f3d-b4fb-0b2d1f4341f9 .benefitblog{
    width: 48%;
    background: #fff;
    align-items: flex-start;
    flex-direction: row;
    }
    @media only screen and (max-width: 1150px) {
        .cropet_content {
        padding: 2% 5%;
        }
    }
        @media screen and (max-width:991px){
           
          .width50_cou.crockdummy{
            width:80%;
          }
          .width50_cou.crocpet_img{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .crocktitle{
        font-size: 48px;
        line-height: 57px;
    }
    .width50_cou.crockdummy{
           margin-right: 10%;
    margin-top: -5%;
    }
          .crockdummy{
            order:2;
          }
          .crocpet_img{order:1;}
      }
          @media screen and (max-width:620px){
      .crockpettitle{
        font-size: 18px;
    line-height: 33px;
      }
      .author_cource{
        font-size: 17px;
    line-height: 26px;
      }
      span.price_in_c.line_center_.crockprice{
        font-size: 24px;
    line-height: 29px;
      }
      .outlink a.link{
            margin-top: 7%;
      }
           
          }
         @media screen and (max-width:420px){
       .width50_cou {
      width: 98%;}
 .crocktitle{
        font-size: 24px;
        line-height: 32px;
    }
    .btnbynow_courc {
      width: 250px;
    }
    .width50_cou.crockdummy{
            width:80%;
          }
          .width50_cou.crocpet_img{
        width: 90%;
          }
    }
</style>
{% if page.title == "pet wellness course" %}
<style>
      @media screen and (max-width:767px){
        .mar_t_50px_ {
    margin-bottom: 0px;
}
      }
</style>
{% endif %}