{{ 'custom-slider-banner.css' | asset_url | stylesheet_tag }}

{%- for block in section.blocks -%}
    {%- if block.settings.image_height == 'adapt' and block.settings.image != blank -%}  
      {%- style -%}
      @media screen and (max-width: 749px) {
          #Banner-{{ section.id }}::before,
          #Banner-{{ section.id }} .banner__media::before,
          #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
              padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;
              content: '';
              display: block;
          }
        }
        
        @media screen and (min-width: 750px) {
            #Banner-{{ section.id }}::before,
            #Banner-{{ section.id }} .banner__media::before {
                padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;
                content: '';
                display: block;
            }
        }
        
        @media screen and (min-width: 750px) {
            .custom-box {
                width: auto;
                max-width: 56rem;
                min-width: 45rem;
            }
        }
        {%- endstyle -%}
    {%- endif -%}
  
  {%- style -%}
    #Banner-{{ section.id }}::after {
      opacity: {{ block.settings.image_overlay_opacity | divided_by: 100.0 }};
    }
  
    .custom-slider-banner-container .rx_banner__heading {
      font-family: "BLT-Heirloom";
      font-weight: 700;
      font-size: 30px;
      line-height: 35px;
      color: {{block.settings.heading_color}};
      margin: 0 auto;
      padding-bottom: 40px;
      text-align: center;
    }
  
    .custom-slider-banner-container .rx_banner__text {
      font-family: "Josefin Sans";
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      padding-bottom: 44px;
      letter-spacing: 0.36px;
      color: {{block.settings.text_color}}
    }
  
    .section-{{block.id}} .rx_banner__buttons {
      font-family: "Josefin Sans";
      font-weight: 500;
      font-size: 14px;
      color: #FFFFFF;
      box-sizing: border-box;
      border: 2px solid #184B44;
      border-radius: 25.5px;
      padding: 7px 20px;
      border-color: #FFFFFF;
      max-width: 30rem;
      margin:0;
    }

    @media screen and (min-width: 750px) {
     .banner--desktop-transparent .rx_banner__box {
        background: transparent;
        --color-foreground: 255, 255, 255;
        --color-button: 255, 255, 255;
        --color-button-text: 0, 0, 0;
        max-width: 89rem;
        border: none;
        border-radius: 0;
        box-shadow: none;
      }
  
     .rx_banner__box.rx-container-bg {
        background-color: {% if block.settings.show_text_box == true %} {{block.settings.container_bg}} {% endif %}
      }
  
       .custom-box.rx_banner__box {
        text-align: {{ block.settings.desktop_content_alignment }};
        width: auto;
        max-width: 35rem;
        min-width: 25rem;
        padding: {% if block.settings.show_text_box == true %} 30px {% endif %};
      }
  
    }
  
    @media screen and (max-width: 749px) {
      #Banner-{{ section.id }} .rx_read_more_arrow_img_banner {
        display: {% if block.settings.show_arrow_mobile == "no" %} none {% endif %};
      }
    } 
  {%- endstyle -%}
{%- endfor -%}
<div class="custom-slider-banner-container">
  <div class="swiper-container slider-banner-wrapper"  id="Banner-{{ section.id }}">
    <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
            <div
                class="banner swiper-slide banner--content-align-{{ block.settings.desktop_content_alignment }} banner--content-align-mobile-{{ block.settings.mobile_content_alignment }} banner--{{ block.settings.image_height }}{% if block.settings.image_height == 'adapt' and block.settings.image != blank %} banner--adapt{% endif %}{% if block.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if block.settings.show_text_box == false %} banner--desktop-transparent{% endif %}"
            >
                {%- if block.settings.image != blank -%}
                <div class="banner__media desktop_media media{% if block.settings.image == blank and block.settings.mobile_image == blank %} placeholder{% endif %}">
                    {%- liquid
                    assign image_height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio
                    if block.settings.mobile_image != blank
                        assign image_class = 'banner__media-image-half'
                    endif
                    if block.settings.mobile_image != blank and block.settings.stack_images_on_mobile
                        assign sizes = '(min-width: 750px) 50vw, 100vw'
                    elsif block.settings.mobile_image != blank
                        assign sizes = '50vw'
                    else
                        assign sizes = '100vw'
                    endif
                    -%}
                    {{
                        block.settings.image
                        | image_url: width: 3840
                        | image_tag:
                        loading: 'lazy',
                        width: block.settings.image.width,
                        height: image_height,
                        class: image_class,
                        sizes: sizes,
                        alt: 'image',
                        widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                    }}
                </div>
                {%- endif -%}
                {%- if block.settings.mobile_image != blank -%}
                <div class="banner__media media mobile_media">
                    {%- liquid
                    assign image_height_2 = block.settings.mobile_image.width | divided_by: block.settings.mobile_image.aspect_ratio
                    if block.settings.image != blank
                        assign image_class_2 = 'banner__media-image-half'
                    endif
                    if block.settings.image != blank and block.settings.stack_images_on_mobile
                        assign sizes = '(min-width: 750px) 50vw, 100vw'
                    elsif block.settings.image != blank
                        assign sizes = '50vw'
                    else
                        assign sizes = '100vw'
                    endif
                    -%}
                    {{
                    block.settings.mobile_image
                    | image_url: width: 767
                    | image_tag:
                        loading: 'lazy',
                        width: block.settings.mobile_image.width,
                        height: image_height_2,
                        class: image_class_2,
                        sizes: sizes,
                        alt: 'image',
                        widths: '375, 550, 750'
                    }}
                </div>
                {%- endif -%}
                <div class="section-{{block.id}} banner__content banner__content--{{ block.settings.desktop_content_position }} page-width">
                <div class="custom-box rx_banner__box content-container content-container--full-width-mobile rx-container-bg">
                    <p class="rx_banner__heading" {{ block.shopify_attributes }}>
                        <span>{{ block.settings.heading | escape }}</span>
                    </p>
                    
                    <div class="rx_banner__text" {{ block.shopify_attributes }}>
                        <span>{{ block.settings.text | escape }}</span>
                    </div>
                
                    <div {{ block.shopify_attributes }} class="bbutton custom-slider-button">
                        {%- if block.settings.button_label_1 != blank -%}
                        <a
                            {% if block.settings.button_link_1 == blank %}
                            role="link" aria-disabled="true"
                            {% else %}
                            href="{{ block.settings.button_link_1 }}"
                            {% endif %}
                            class="{% if block.settings.show_text_box == false %} rx_read_more_btn_white {% else %} rx_read_more_btn_green {% endif %}"
                        >
                            {{- block.settings.button_label_1 | escape -}}
                            {% comment %} {% render 'icon-arrow' %} {% endcomment %}
                        </a>
                        {%- endif -%}
                    </div>
                </div>
                </div>
            </div>
        {%- endfor -%}
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>

  <script src="{{ 'custom-slider-banner.js' | asset_url }}" defer="defer"></script>

  {% schema %}
  {
    "name": "custom-slider Banner",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
    ],
    "blocks": [
      {
        "type": "slider-banner",
        "name": "Slider banner",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Desktop Image"
            },
            {
                "type": "image_picker",
                "id": "mobile_image",
                "label": "Mobile Image"
            },
            {
                "type": "range",
                "id": "image_overlay_opacity",
                "min": 0,
                "max": 100,
                "step": 10,
                "unit": "%",
                "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
                "default": 0
            },
            {
                "type": "select",
                "id": "image_height",
                "options": [
                  {
                    "value": "adapt",
                    "label": "t:sections.image-banner.settings.image_height.options__1.label"
                  },
                  {
                    "value": "small",
                    "label": "t:sections.image-banner.settings.image_height.options__2.label"
                  },
                  {
                    "value": "medium",
                    "label": "t:sections.image-banner.settings.image_height.options__3.label"
                  },
                  {
                    "value": "large",
                    "label": "t:sections.image-banner.settings.image_height.options__4.label"
                  }
                ],
                "default": "medium",
                "label": "t:sections.image-banner.settings.image_height.label",
                "info": "t:sections.image-banner.settings.image_height.info"
            },
            {
                "type": "select",
                "id": "desktop_content_position",
                "options": [
                  {
                    "value": "top-left",
                    "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
                  },
                  {
                    "value": "top-center",
                    "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
                  },
                  {
                    "value": "top-right",
                    "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
                  },
                  {
                    "value": "middle-left",
                    "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
                  },
                  {
                    "value": "middle-center",
                    "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
                  },
                  {
                    "value": "middle-right",
                    "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
                  },
                  {
                    "value": "bottom-left",
                    "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
                  },
                  {
                    "value": "bottom-center",
                    "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
                  },
                  {
                    "value": "bottom-right",
                    "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
                  }
                ],
                "default": "middle-center",
                "label": "t:sections.image-banner.settings.desktop_content_position.label"
            },
            {
                "type": "checkbox",
                "id": "show_text_box",
                "default": true,
                "label": "t:sections.image-banner.settings.show_text_box.label"
            },
            {
                "type": "color_background",
                "id": "container_bg",
                "label": "Container Background Color",
                "default": "#fff"
            },
            {
                "type": "select",
                "id": "desktop_content_alignment",
                "options": [
                  {
                    "value": "left",
                    "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
                  },
                  {
                    "value": "center",
                    "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
                  },
                  {
                    "value": "right",
                    "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
                  }
                ],
                "default": "center",
                "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
            },
            {
                "type": "color",
                "id": "heading_color",
                "label": "Heading Color",
                "default": "#000"
            },
            {
                "type": "color",
                "id": "text_color",
                "label": "Text Color",
                "default": "#000"
            },
            {
                "type": "header",
                "content": "t:sections.image-banner.settings.header.content"
            },
            {
                "type": "select",
                "id": "show_arrow_mobile",
                "options": [
                  {
                    "value": "yes",
                    "label": "Yes"
                  },
                  {
                    "value": "no",
                    "label": "No"
                  }
                ],
                "default": "yes",
                "label": "Show arrow on mobile"
            },
            {
                "type": "select",
                "id": "mobile_content_alignment",
                "options": [
                  {
                    "value": "left",
                    "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
                  },
                  {
                    "value": "center",
                    "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
                  },
                  {
                    "value": "right",
                    "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
                  }
                ],
                "default": "center",
                "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
              },
              {
                "type": "checkbox",
                "id": "stack_images_on_mobile",
                "default": true,
                "label": "t:sections.image-banner.settings.stack_images_on_mobile.label"
              },
              {
                "type": "checkbox",
                "id": "show_text_below",
                "default": true,
                "label": "t:sections.image-banner.settings.show_text_below.label"
            },
            {
                "type": "text",
                "id": "heading",
                "default": "Image banner",
                "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
            },
            {
                "type": "text",
                "id": "text",
                "default": "Give customers details about the banner image(s) or content on the template.",
                "label": "t:sections.image-banner.blocks.text.settings.text.label"
            },
            {
                "type": "text",
                "id": "button_label_1",
                "default": "Button label",
                "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
                "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
            },
            {
                "type": "url",
                "id": "button_link_1",
                "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
            }
        ]
      },
    ],
    "presets": [
      {
        "name": "Custom-slider Banner",
        "blocks": [
          {
            "type": "slider-banner"
          },
        ]
      }
    ]
  }
  {% endschema %}