{{ 'custom-product-slider.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .slider--{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
{%- endstyle -%}

<div class="custom-product-slider--contianer slider--{{ section.id }}">
    {% if section.settings.heading %}
        <div class="product-slider-heading">
            {{ section.settings.heading }}
        </div>
    {% endif %}
    <div class="product-slider-content">
       {%- for block in section.blocks -%}
            <div class="product-slider-block" style="background:{{ block.settings.bg_color }}">
                <div class="product-slider-block--text">
                    <div class="block-text-heading">{{ block.settings.slider_heading }}</div>
                    <div class="block-text-content">{{ block.settings.slider_content }}</div>
                    {% if block.settings.btn_url %}
                        <a class="block-text-btn" href="{{ block.settings.btn_url }}">{{ block.settings.btn_text }}</a>
                    {% endif %}
                </div>
                <div class="product-slider-block-container">
                    <div class="product-slider-block--items swiper-container">
                        <div class="block-items-wrapper swiper-wrapper">
                            {%- for product in block.settings.collection.products  -%}
                                <div
                                id="Slide-{{ block.id }}-{{ forloop.index }}"
                                class="product-slider-item swiper-slide"
                                >
                                    <a class="product-slider-item--url" href="{{ product.url }}">
                                            <div class="slider-item-image">
                                                <img src="{{ product.featured_media | image_url: width: 170 }}" alt="image">
                                            </div>
                                        
                                            <div class="slider-item-title">{{ product.title | split: "-" | first }}</div> 
                                            <div class="slider-item-price">{{ product.price |  money }}</div>
                                    </a>
                                    <a class="slider-item-button" href="{{ product.url }}">
                                            <span>buy</span>
                                            {% render 'icon-arrow' %}
                                    </a>
                                </div>
                            {%- endfor -%}
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
       {%- endfor -%}
    </div>
</div>
<script>
    var productSwiper = new Swiper('.product-slider-content .swiper-container', {
        loop: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
   
        paginationClickable: true,
        slidesPerView: 4,
        spaceBetween: 20,
        speed: 500,
        autoplaySpeed: 2000,
        autoplay: true,
        breakpoints: {
            1920: {
                slidesPerView: 4,
                spaceBetween: 20,
                centeredSlides: false
            },
            1440: {
                slidesPerView: 3,
                spaceBetween: 20,
                centeredSlides: false
            },
            1110: {
                slidesPerView: 2,
                spaceBetween: 20,
                centeredSlides: false
            },
            767: {
                slidesPerView: 1,
                spaceBetween: 0,
                centeredSlides: true
            }
        },
        pagination: {
            el: ".product-slider-content .swiper-pagination",
            clickable: true
        },
});
</script>
{% schema %}
  {
    "name": "Product slider",
    "tag": "section",
    "class": "custom-product-slider",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Slider Heading"
      },
      {
        "type": "header",
        "content": "Content Padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 60,
        "step": 1,
        "default": 40,
        "unit": "px",
        "label": "Padding Top"
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 60,
        "step": 1,
        "default": 40,
        "unit": "px",
        "label": "Padding Bottom"
      }
    ],
    "blocks": [
        {
            "type": "slider-item",
            "name": "Slider item",
            "settings": [
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Select Collection"
                },
                {
                    "type": "color",
                    "id": "bg_color",
                    "label": "Background Color"
                },
                {
                    "type": "text",
                    "id": "slider_heading",
                    "label": "Slider Heading",
                    "default": "Slider Heading"
                },
                {
                    "type": "richtext",
                    "id": "slider_content",
                    "label": "Slider Content",
                    "default": "<p>Slider Content</p>"
                },
                {
                    "type": "url",
                    "id": "btn_url",
                    "label": "Slider Button"
                },
                {
                    "type": "text",
                    "id": "btn_text",
                    "label": "Slider Button Text",
                    "default": "Button"
                }
            
            ]
        }
    ],
    "presets": [
      {
        "name": "Product slider",
        "settings": {
        }
      }
    ]
  }
{% endschema %}