{{ 'custom-rich-text.css' | asset_url | stylesheet_tag }}

<style>
    .custom-{{ section.id }} {
        margin-top: {{ section.settings.margin_top }}px;
        margin-bottom: {{ section.settings.margin_bottom }}px;
        color: {{ section.settings.text_color }};
    }
    .custom-{{ section.id }}.background-img {
        background-image: url({{ section.settings.background_img |  image_url }});
        background-repeat: no-repeat;
        background-size:cover;
    }
  .custom-{{ section.id }} .rich-text--wrapper {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    .rich-text__btn {
        color: {{ section.settings.button_color }};
        text-align: center;
        font-family: "Josefin Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; /* 200% */
        text-transform: capitalize;
        border: 1px solid transparent;
        border-radius: 30px;
        background: {{ section.settings.button_background }};
        padding: 10px 11px;
        text-decoration: none;
    }
    .rich-text__btn:hover {
        color: {{ section.settings.button_background }};
        background: {{ section.settings.button_color }};
    }
    @media(max-width:767px) {
        .custom-{{ section.id }}.background-img {
            display: none;    
        }

        .custom-{{ section.id }}.mobile-background-img {
            background-image: url({{ section.settings.mobile_background_img |  image_url }});
            background-repeat: no-repeat;
            background-size:cover;
            background-position: center;
            max-height: 410px;
        }
        .rich-text--wrapper {
            padding-bottom: 0;
        }
    }
</style>

<div class="custom-rich-text--container custom-{{ section.id }} {% if section.settings.mobile_background_img %} mobile-background-img {% endif %}{% if section.settings.background_img %} background-img {% endif %} {% if section.settings.link_banner_button == "with banner" %} link_banner_button {% elsif section.settings.link_banner_button == "with bundle"%} link_bundle_button {% endif %}">
    <div class="rich-text--wrapper page-width">
        <div class="rich-text--blocks">
            {% if section.settings.heading %}
                <div class="rich-text--heading">{{ section.settings.heading }}</div>
            {% endif %}
            {% if section.settings.sub_heading %}
                <div class="rich-text--subheading">{{ section.settings.sub_heading }}</div>
            {% endif %}
            {% if section.settings.content %}
                <div class="rich-text--content">{{ section.settings.content }}</div>
            {% endif %}
        </div>
        {% if section.settings.btn_url %}
            <div class="rich-text--button">
                <a class="rich-text__btn" href=" {{ section.settings.btn_url }}">{{ section.settings.btn_text }}</a>
            </div>
        {% endif %}
    </div>
</div>
{% schema %}
  {
    "name": "Custom rich text",
    "tag": "section",
    "class": "custom-rich-text",
    "settings": [
        {
            "type": "image_picker",
            "id": "background_img",
            "label": "Background image"
        },
        {
            "type": "image_picker",
            "id": "mobile_background_img",
            "label": "Mobile background image"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text color"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "heading"
        },
        {
            "type": "richtext",
            "id": "sub_heading",
            "label": "Sub heading",
            "default": "<p>Sub heading</p>"
        },
        {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>content</p>"
        },
        {
            "type": "url",
            "id": "btn_url",
            "label": "Button url"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Button text",
            "default": "button"
        },
        {
            "type": "color",
            "id": "button_color",
            "label": "Button color",
            "default": "#951125"
        },
        {
            "type": "color",
            "id": "button_background",
            "label": "Button background color",
            "default": "#fff"
        },
        {
            "type": "text",
            "id": "link_banner_button",
            "label": "Link with button"
        },
        {
            "type": "header",
            "content": "Padding content"    
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "Padding top",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 40
        },  
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Padding bottom",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 40
        },
        {
            "type": "range",
            "id": "margin_top",
            "label": "Margin top",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 40
        },  
        {
            "type": "range",
            "id": "margin_bottom",
            "label": "Margin bottom",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 40
        }
    ],
    "presets": [
      {
        "name": "Custom rich text",
        "settings": {
        }
      }
    ]
  }
{% endschema %}