<div class="amr_how_work">
  <div class="amr_container_1170">
    <div class="amr_pet_consultants_header">
      {% if section.settings.heading != blank %}<h2>{{ section.settings.heading }}</h2>{% endif %}
      {% if section.settings.desc != blank %}<div>{{ section.settings.desc }}</div>{% endif %}
    </div>
    <div class="amr_HW_items">
      {% for block in section.blocks %}
        <div class="amr_HW_item">
            <h3>{{ block.settings.title }}</h3>
            <div>{{ block.settings.detail }}</div>
        </div>
      {% endfor %}
    </div>
    {% if section.settings.btn_txt != blank %}<a class="amr_HW_btn" href="{{ section.settings.btn_url }}">{{ section.settings.btn_txt }}</a>{% endif %}
  </div>
</div>
{% schema %}
{
  "name": "How It Works",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label":"Heading"
    },
    {
      "type": "richtext",
      "id": "desc",
      "label":"Description"
    },
    {
      "type": "text",
      "id": "btn_txt",
      "label":"Button Text"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button URL"
    }
  ],
  "blocks": [
    {
      "type": "points",
      "name": "Point",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label":"Title"
        },
        {
          "type": "richtext",
          "id": "detail",
          "label":"Detail"
        }
      ]
    }
  ],
  "presets": [
      {
        "name": "How It Works"
      }
    ]
}
{% endschema %}