{%- style -%}

{%- endstyle -%}
<div class="our_services">
  <div class="our_services_container container">
    <div class="our_services_header col-md-4">
      {% if section.settings.heading != blank %}<h1>{{ section.settings.heading }}</h1>{% endif %}
      {% if section.settings.desc != blank %}<div>{{ section.settings.desc }}</div>{% endif %}
      {% for block in section.blocks %}
        {% if block.type == 'service_link' %}
        <div class="our_services_links">
          <div class="our_services_links_content">
            {% if block.settings.detail != blank %}<div>{{ block.settings.detail }}</div>{% endif %}
          </div>
          <div class="our_services_links_content">
            {% if block.settings.detail_1 != blank %}<div>{{ block.settings.detail_1 }}</div>{% endif %}
          </div>
          <div class="our_services_links_content">
            {% if block.settings.detail_3 != blank %}<div>{{ block.settings.detail_3 }}</div>{% endif %}
          </div>
        </div>
      {% endif %}
        {% endfor %}
      </div>
      <div class="our_services_grup  col-md-4">
      {% for block in section.blocks %}
        {% if block.type == 'main_img' %}
          <div class="our_services_img">
            <img src="{{ block.settings.main_img | img_url:'master' }}" loading="lazy">
          </div>
        {% endif %}
        {% if block.type == 'service_right' %}
        <div class="service_right_description">
            {% if block.settings.detail != blank %}<div>{{ block.settings.detail }}</div>{% endif %}
            {% if block.settings.btnText != blank %}<a class="btn btn-primary themebtn" href="{% if block.settings.btnText != blank %}{{ block.settings.btnText }}{% endif %}">{{ block.settings.detail }}</a>{% endif %}
        </div>
      {% endif %}
        {% endfor %}
      </div> 
      
    
    
  </div>
  
</div>
{% schema %}
{
  "name": "Our Services",
  "max_blocks":5,
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label":"Heading"
    },
    {
      "type": "richtext",
      "id": "desc",
      "label":"Description"
    }
  ],
  "blocks": [
    {
      "type": "service_link",
      "name": "Our Service Section",
      "limit":7,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label":"Service Title"
        },
        {
          "type": "text",
          "id": "servicelink",
          "label":"Service Link"
        }
      ]
    },
    {
      "type": "service_right",
      "name": "service_detail",
      "limit":1,
      "settings": [
        {
          "type": "richtext",
          "id": "detail",
          "label":"Detail"
        },
        {
          "type": "text",
          "id": "btnText",
          "label":"Button Text"
        },
        {
          "type": "text",
          "id": "btnlink",
          "label":"Button Link"
        }
      ]
    },
    {
      "type": "main_img",
      "name": "Main Image",
      "limit":1,
      "settings": [
        {
          "type":"image_picker",
          "id":"main_img",
          "label":"Main Image"
        }
      ]
    }
  ],
  "presets": [
      {
        "name": "Our Services"
      }
    ]
}
{% endschema %}