<style>
  .rx-{{section.id}}.rx-banner-text--cotainer {
    max-width: 100%;
    background: {{ section.settings.cotainer_bg }}
  }

  .rx-{{section.id}} .container {
    display: flex;
    flex-direction: {% if section.settings.layout == "text_first" %} row-reverse {%else%} row {%endif%};
    align-items: center;
    padding-top: 70px;
    padding-bottom: 140px;
    padding-left: 140px;
    padding-right: 140px;
  }

  .rx-{{section.id}} .container .rx-image {
    max-width: 900px;
    max-height: 430px;
    width: 47%;
  }

  .rx-{{section.id}} .container .rx-text {
    width: 53%;
    padding-left: 40px;
    text-align: justify;
    background-color: {{section.settings.content_bg}};
  }

  .rx-{{section.id}} .container .rx-text .rx-text-desc {
    max-width: 700px;
  }

  .rx-{{section.id}}  .rx-text .heading {
    font-family: 'Oakley Script';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 57px;
    letter-spacing: 0.02em;
    color: #1E1E1E;
    margin: 0;
  }

  .rx-{{section.id}}  .rx-text .caption {
    font-family: 'BLT-Heirloom';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    letter-spacing: 0.02em;
    word-break: break-all;
  }

  .rx-{{section.id}}  .rx-text .date {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    letter-spacing: 0.02em;
    padding-top: 34px;
    padding-bottom: 11px;
  }

  .rx-{{section.id}}  .rx-text .date p {
    margin: 0;
  }

  .rx-{{section.id}}  .rx-text .content {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #1E1E1E;
    margin: 0;
    padding-top: 35px;
    word-break: break-all;
  }

  @media screen and (max-width: 950px) {
    .rx-{{section.id}} .container {
      flex-direction: column;
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 30px;
      padding-top: 30px;

    } 

    .rx-{{section.id}} .container .rx-image {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .rx-{{section.id}} .container .rx-text {
      width: 100%;
      text-align: center;
                                                                                                                                 padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
    }
    
    .rx-{{section.id}} .container .rx-text .rx-text-desc {
      margin: auto;
    }

    .rx-{{section.id}}  .rx-text .caption {
      margin-right: auto;
    }
  }

</style>
{% if page.handle == "contact-us" %}
  <style>
  .rx-{{section.id}} .container .rx-text{
      background-color: #fff;
      border-top: 2px solid #F5F8F1;
  }
</style>
{% endif %}
<div class="rx-{{section.id}} rx-banner-text--cotainer">
  <div class="container">
    <img
      class="rx-image"
      src="{{ section.settings.rx_image_banner | image_url: width: 1500, crop: 'center' }}"
      sizes="100%"
      loading="lazy"
    >
    {% comment %} <img class="rx-image"src="https://cdn.shopify.com/s/files/1/0017/5443/1553/files/aboutRuth.jpg?v=1681378728"  alt="about_page_image"/> {% endcomment %}
      
    <div class="rx-text">
      <div class="rx-text-desc">
        <p class="heading">{{section.settings.heading }}</p>
        {% comment %} <div class="date">{{ section.settings.date }}</div> {% endcomment %}
        <div class="caption">{{section.settings.caption}}</div>
        <p class="content">{{section.settings.content | replace: 'p>', 'span>'}}</p>
        <br>
        <p class="content">{{section.settings.content2 | replace: 'p>', 'span>'}}</p>
        {%- for block in section.blocks -%}
          {% case block.type %}
            {%- when 'button' -%}
              {%- if block.settings.button_label != blank -%}
                <div class="rx_img_with_text_button">
                  <a
                    {% if block.settings.button_link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link }}"
                    {% endif %}
                    class="rx_read_more_btn_green"
                  >
                    {{ block.settings.button_label | escape }}
                    <img 
                      id="rx_read_more_arrow_black"
                      class="rx_read_more_arrow_img_with_text"
                      src="https://cdn.shopify.com/s/files/1/0017/5443/1553/files/blog_arrow.png?v=1680443191"
                    >
                  </a>
              </div>
              {%- endif -%}
          {%- endcase -%}
        {% endfor %}
      <div>
     
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "RX-Banner-Text-V2",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "rx_image_banner",
        "label": "image"
      },
      {
        "type": "color",
        "id": "cotainer_bg",
        "label": "Container Background"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "date",
        "label": "Date",
        "default": "<p>date</p>"
      },
      {
        "type": "richtext",
        "id": "caption",
        "label": "Caption",
        "default": "<p>Title</p>"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "First Content"
      },
      {
        "type": "richtext",
        "id": "content2",
        "label": "Second Content"
      },
      {
        "type": "color",
        "id": "content_bg",
        "label": "Content Background",
      },
      {
        "type": "select",
        "id": "layout",
        "options": [
          {
            "value": "image_first",
            "label": "Image First"
          },
          {
            "value": "text_first",
            "label": "Text First"
          }
        ],
        "default": "image_first",
        "label": "Layout",
        "info": "t:sections.image-with-text.settings.layout.info"
      }
    ],
    "blocks": [
      {
        "type": "button",
        "name": "Button",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "button_label",
            "default": "Button",
            "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
            "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "RX-Banner-Text-V2"
      }
    ]
  }

{% endschema %}