
<div class="shpo_space">
    <div class="shopheap">
        <h2 class="shophead">{{section.settings.shop_head}}</h2>
    </div>
    <div class="swiper-container">
      <div class="slideflex swiper-wrapper">
        {% for block in section.blocks %}
          <a class="custom-url swiper-slide" href="{{block.settings.link}}" >
                <div class="slidebg" data-type="{{block.settings.slide_type}}" data-val="{{block.settings.slide_val}}">
                        <div class="collimg">
                        {%- if block.settings.allshopicon != blank -%}
                            <img class="shophelpicon" src="{{  block.settings.allshopicon  | img_url: 'small' }}" />
                            {%- endif -%}
                        </div>
                        <h4 class="slidecontent">{{block.settings.slide_text}}</h4>
                    <h2 class="slidetype">{{block.settings.slide_type}}</h2>
                  <h2 class="slidevalue">{{block.settings.slide_val}}</h2>
                </div>
          </a>
        {% endfor %}
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
</div>

{% schema %}
{
  "name": "shop_help",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "shop_head",
      "label": "Heading"
    }
  ],
   "blocks": [
  {
    "type": "slider",
    "name": "slider",
    "settings": [
       { "type": "image_picker",
          "id": "allshopicon",
          "label": "Image"
        },
       {
    "type": "text",
    "id": "slide_text",
    "label": "Slider Heading"
      }
      , {
    "type": "text",
    "id": "slide_type",
    "label": "Slider Type"
      },
       {
    "type": "text",
    "id": "slide_val",
    "label": "Slider Value"
      },
       {
    "type": "url",
    "id": "link",
    "label": "Custom url"
      }
    ]
  }
    ],
 "presets": [
    {
      "name": "shop_help"
    }
  ]
}

{% endschema %}
<style>

  .slideflex .custom-url {
    text-decoration: none;
    {% comment %} margin-right: 20px !important; {% endcomment %}
  }

.slidecontent{
  margin: 10px;
}
.collimg {
    padding-top: 8%;
}
  h4.slidecontent {
    line-height: 1.2;
}

.slidebg {
    height: 140px;
    {% comment %} height: 100%; {% endcomment %}
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.swiper-button-prev, .swiper-button-next {
  display: block !important;
  background: none;
} 

.swiper-button-prev::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  transform: rotate(45deg);
  border-left: solid;
  border-bottom: solid;
  top: 7px;
  left: 10px;
}

.swiper-button-next::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  transform: rotate(-135deg);
  border-left: solid;
  border-bottom: solid;
  top: 7px;
  right: 10px;
}

</style>
<script>
  new Swiper('.swiper-container', {
    loop: true,
    {% comment %} nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev', {% endcomment %}
    slidesPerView: 3,
    spaceBetween: 20,
    speed: 500,
    autoplaySpeed: 2000,
    centeredSlides: true,
    autoplay: true,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev"
    },
    breakpoints: {
        1920: {
            slidesPerView: 5,
            spaceBetween: 30
        },
        1028: {
            slidesPerView: 4,
            spaceBetween: 30
        },
        480: {
            slidesPerView: 1,
            spaceBetween: 0,
            centeredSlides: true
        }
    }
  });


</script> 